<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/05/15 22:32:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC_004_MergeLead.setup()[pri:0, instance:testcases.TC_004_MergeLead@1686d1f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29815118</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>19/05/15 22:32:58</td>   <td>1285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC_004_MergeLead@1686d1f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29815118</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/15 22:33:08</td>   <td>11317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_MergeLead.MergeLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC_004_MergeLead@1686d1f]">MergeLead</td> 
  <td>main@29815118</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>19/05/15 22:33:20</td>   <td>22872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC_004_MergeLead@1686d1f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@29815118</td>   <td></td> </tr>
</table>
