<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/05/19 15:52:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.CreateLeadMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@45f292]">CreateLeadMethod</td> 
  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 15:52:51</td>   <td>11750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001LoginLogoutTest.CreateLeadMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001LoginLogoutTest@45f292]">CreateLeadMethod</td> 
  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:53:28</td>   <td>49559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003DeleteLead.DeleteLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC003DeleteLead@1a5c39e]">DeleteLead</td> 
  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/05/19 15:53:53</td>   <td>73744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004DuplicateLead.DuplicateLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC004DuplicateLead@149dace]">DuplicateLead</td> 
  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/05/19 15:53:00</td>   <td>21232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002EditLead.EditLeadMethod(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002EditLead@12108b5]">EditLeadMethod</td> 
  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:52:48</td>   <td>9632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC001LoginLogoutTest@45f292]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:53:20</td>   <td>40755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC002EditLead@12108b5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:53:44</td>   <td>65319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC003DeleteLead@1a5c39e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:54:03</td>   <td>84102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC004DuplicateLead@149dace]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:52:07</td>   <td>-32101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001LoginLogoutTest@45f292]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:52:51</td>   <td>11836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC002EditLead@12108b5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:53:20</td>   <td>41325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC003DeleteLead@1a5c39e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/05/19 15:53:46</td>   <td>67583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC004DuplicateLead@149dace]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/19 15:52:05</td>   <td>-33393</td> <td>&nbsp;</td><td title="&gt;&gt;TC001LoginLogoutTest.setData()[pri:0, instance:testcases.TC001LoginLogoutTest@45f292]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/05/19 15:52:05</td>   <td>-33365</td> <td>&nbsp;</td><td title="&gt;&gt;TC002EditLead.setData()[pri:0, instance:testcases.TC002EditLead@12108b5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:52:05</td>   <td>-33365</td> <td>&nbsp;</td><td title="&gt;&gt;TC003DeleteLead.setData()[pri:0, instance:testcases.TC003DeleteLead@1a5c39e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/05/19 15:52:05</td>   <td>-33365</td> <td>&nbsp;</td><td title="&gt;&gt;TC004DuplicateLead.setData()[pri:0, instance:testcases.TC004DuplicateLead@149dace]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27067083</td>   <td></td> </tr>
</table>
